body{
    background-color: #c6c9be;
    padding: 5px;
}

h1{
    text-align: center;
    font-size: 40px;
}

nav{
    position: relative;
    box-shadow: 1px 1px 2px 1px;
    border-radius: 10px;
    border: 1px solid #551a8b;
    background-color: #c6c9be;
}

button{
    margin: 10px;
}

.nav{
    color: #551a8b;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.nav:hover{
    color: #551a8b;
    background-color: #dee5d2;
    text-decoration: none;
}

.borderRmv:focus {
    outline-width: 0;
}

.fruit img{
    width: 400px;
    height:400px;
}

.fruit{
    text-align: center;
    border: 5px solid #551a8b;
    border-radius: 5px;
    background-color: #c6c9be;
    text-transform: capitalize;
}

.products{
    text-align: center;
}

.products,
.checkout {
    position: absolute;
    left: 22%
}

.checkout {
    z-index: 10;
    left: 28%;
    background-color: #c6c9be;
    border: 5px solid #551a8b;
    border-radius: 10px;
}

.basket{
    text-align: right;
    font-weight: bold;
    display: inline-block;
}

#orange{
    margin-left: 20px;
}
